{% extends 'base.html' %}

{% block content %}

    {% for tag in tags %}

        <a href="?tag={{ tag.name }}" class="btn btn-primary">{{ tag.name }}</a>

    {% endfor %}



    <h1>Lista ofert</h1>
    <div class="row">
        <div class="col-md-8">
            {% for oferta in offers %}
                <p><a href="{% url 'jobs:detail' oferta.id %}">{{ oferta.info }}</a></p>
            {% endfor %}
            <div class="pagination">
                {% if offers.has_previous %}
                    <a href="?page=1&per_page={{ per_page }}">first</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="?page={{ offers.previous_page_number }}&per_page={{ per_page }}"><<</a> &nbsp;&nbsp; | &nbsp;&nbsp;
                {% endif %}

                {% if offers.has_next %}
                    <a href="?page={{ offers.next_page_number }}&per_page={{ per_page }}"> >> &nbsp;&nbsp; | &nbsp;&nbsp; </a>
                    <a href="?page={{ offers.paginator.num_pages }}&per_page={{ per_page }}">last</a>

                {% endif %}
            </div>

        </div>
        <div class="col-md-4">
            {{ offers }}<br>
            {{ lista }}<br>

            {{ lista.1 }}<br>


            {{ text }}<br>

            {% if "xxx" in text %}
                <p>paragraf wlaczony warunkowo</p>
            {% endif %}

            {% if xxx %}
                <p>paragraf wlaczony warunkowo</p>
            {% endif %}



            {{ slownik }}<br>

            {{ slownik.b }}<br>


            <p>proste filtry</p>

            {{ "to jest tekst"|upper }}<br>
            {{ text|upper }}
        </div>
    </div>
{% endblock %}


{% block title %}Lista ofert{% endblock %}
